.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.navbar__menu {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

.navbar__list {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--color-secondary);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0 30px;
  list-style: none;
  z-index: 99;
  transition: transform 0.3s;
}

.navbar__list.open {
  display: flex;
}

.navbar__language {
  font-size: 12px;
  text-decoration: underline;
}

.navbar__link {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar__link:visited,
.navbar__link:hover,
.navbar__link:focus {
  text-decoration: none;
  color: var(--color-text);
}

.navbar__link::after {
  content: '';
  border-bottom: solid 4px var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.navbar__path {
  stroke: var(--color-text);
  transition: transform 0.5s;
}

.navbar__path--first.open {
  transform: skewY(40deg);
}

.navbar__path--second.open {
  stroke: transparent;
}

.navbar__path--third.open {
  transform: skewY(-40deg);
}

.navbar__link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
