.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 18px 12px 18px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  list-style: none;
  margin-top: 20px;
  padding-right: 40px;
}

.navbar__language {
  font-size: 12px;
  text-decoration: underline;
}

.navbar__language:first-child:after {
  text-decoration: underline;
}

.navbar__link {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.navbar__link:visited,
.navbar__link:hover,
.navbar__link:focus {
  text-decoration: none;
  color: var(--color-text);
}
