.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  padding: 0 10px;
}

.portfolio-item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item__link {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.portfolio-item__link:visited,
.portfolio-item__link:focus {
  text-decoration: none;
  color: var(--color-text);
}

.portfolio-item__img {
  height: 230px;
  width: 339px;
  border-radius: 6px;
  object-fit: cover;
}

.portfolio-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item__title {
  margin-top: 17px;
  margin-bottom: 16px;
}

.portfolio-item__info {
  display: flex;
  align-items: center;
  gap: 22px;
}

.portfolio-item__badge {
  width: 62px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 900;
  background-color: var(--color-blue);
  color: #fff;
  border-radius: 16px;
}

.portfolio-item__type {
  color: var(--color-light-gray);
  margin: 0;
}

.portfolio-item__content {
  margin-top: 24px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 24px;
}
