#wave-animation {
  display: inline-block;
  animation: wave 1s ease-in-out infinite;
}

.title-section-animation {
  display: inline-block;
  animation: title-section 1s ease-in-out forwards;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-15deg) translate(-3px);
  }

  100% {
    transform: rotate(0deg) translate(0);
  }
}

@keyframes title-section {
  100% {
    transform: rotate(-90deg) translate(-180px, -200px);
    font-size: 32px;
  }
}
