@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

@font-face {
  font-family: 'Mango';
  src: url('assets/fonts/Mango-Regular.otf');
}

html {
  font-size: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: inherit;
}

body > * {
  transition: inherit;
}

a {
  color: var(--color-text);
  cursor: pointer;
}

p > a {
  text-decoration: none;
  font-weight: 500;
  transition: filter 0.5s;
  box-shadow: var(--color-primary) 0px -2px inset;
  transition: box-shadow 0.3s;
}

p > a:hover {
  box-shadow: #ff4343 0px -2px inset;
}

.no-scroll {
  overflow: hidden;
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.horizontal-line {
  width: 100%;
  height: 1px;
  color: var(--color-gray);
  background-color: var(--color-gray);
  border: none;
}
