.hide,
.hide-to-mobile,
.hide-to-desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .header {
    padding: 6px 20px;
  }

  /* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navbar__controls {
    display: flex;
    margin-left: auto;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__list.hide-to-mobile {
    display: flex;
  }

  .navbar__list {
    width: fit-content;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
  }

  /* Intro */
  .intro {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
  }

  .intro__photo {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }

  .intro__circle {
    width: 243px;
    height: 243px;
    bottom: 50px;
  }

  .intro__content {
    max-width: 550px;
  }

  .intro__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
  }

  .intro__subtitle {
    text-align: justify;
  }

  .intro__content .button {
    align-self: flex-start;
  }

  /* Blog Posts */
  .blog-posts {
    width: 100%;
    max-width: 914px;
    justify-content: center;
    margin: 0 auto;
  }

  .blog-posts__title {
    align-self: flex-start;
    font-size: 22px;
  }

  .blog-posts__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .post-card {
    max-width: 360px;
    padding: 24px 22px;
  }

  /* Portfolio */
  .portfolio {
    width: 100%;
    max-width: 914px;
    justify-content: center;
    margin: 0 auto;
  }

  .portfolio__title {
    align-self: flex-start;
    font-size: 22px;
  }

  .portfolio-item {
    padding: 0;
  }

  .portfolio-item__img {
    width: 246px;
    height: 180px;
  }

  .portfolio-item__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
  }

  .portfolio-item__title {
    align-self: flex-start;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .portfolio-item__info {
    align-self: flex-start;
  }

  .portfolio-item__type {
    font-size: 20px;
  }

  .portfolio-item__content {
    width: 90%;
    align-self: flex-start;
    font-size: 16px;
    margin-top: 17px;
  }

  /* Footer */
  .footer {
    margin-top: 150px;
  }
}
